.header{
    background-image:url('../../images/footballfield.jpg') ;
    height:220px;
    width:100%;
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
    position:relative;
    opacity:0.7;
    font-weight: 700;
}
.header-title { 
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:yellow;
}

.header-sub-title{
    position:absolute;
    top:70%;
    left:50%;
    transform:translate(-50%,-50%);
    color:whitesmoke;

}